* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body{
    background-color: #E5E5E5;
}

a{
    color: inherit;
    text-decoration: inherit;
}

p, h4, h3, h2, h1, a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.header{
    background-color: #625E59;
    width: auto;
    height: auto;
    color: #EAEAEA;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 2em 2em 2em;
}

.quick-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quick-links > a{
    margin: 0 1em 0 1em
}

.welcome{
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    text-align: center;
    margin: 4em auto;
}

.info > h1 {
    margin-bottom: 2em;
}

.info > p {
    line-height: 4em;
    width: 80%;
    margin:auto
}

.contact{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

#email-pic, #linkedin-pic{
    width: 55px;
    height: 55px;
}

#github-pic {
    width: 50px;
    height: 50px
}

.picture{
    display: flex;
    width: 40%;
    justify-content: center;
    /* background-color: red; */
}

.picture > img {
    border-radius: 3%;
    height: 325px;
    margin: auto;
}

.skills{
    text-align: center;
    margin: 4em auto;
    line-height: 200%;
}

.skill-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4em auto;
}

.skill-list > div > img{
    height: 60px;
    width: 60px;
}

.projects{
    text-align: center;
    margin: 4em auto;
    line-height: 4em;
}

.about-me{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 60%;
    line-height: 2em;
}

.about-me > h1{
    margin-bottom: 2em;
}

.about-me > img{
    width: 200px;
    border-radius: 5px;
    margin: 3em auto 4em auto;
}